<h3>My Communities</h3>
<p>Communities are a collection of users, grouped in some way.</p>
<p>Your Communities page lists those Communities of which you are an  approved member.</p>
<p>Depending on the membership option selected by the Community Owner you  can usually join a new Community via a Communities main page. A Community page may be accessed via a Community  Search. </p>
<p>You can assign any Community you are a member or owner of, access rights  to any of your Views. When you assign a Community  access to a View, all members of that Community will also be given access.</p>
<p>You can leave a Community at any stage provided it isn&#8217;t a Controlled  Membership Community created by a Site Administrator by using the Delete tool.</p>
<p>You can view a Community&#8217;s main page by clicking on its name. Viewing a Community will give you a list of other  members of this Community and links to any Views that this Community has access  to.</p>
