<h3>Upload File</h3>
<p>Use the Upload File option to  add an allowed file type to your repository. </p>
<p>If the File you attempt to upload is flagged as containing a virus it  will not be accepted by the system. You  will need to run your File through a recent anti-virus application before resubmitting. If your File continues to be virus flagged  and rejected by the system for no reason that you can see, you can request the  Site Administrator remove the virus flag from your File and approve it for  upload.</p>
<p>If you repeatedly attempt to upload files that are flagged as containing  virus content, the Site Administrator will be notified and your account may be  suspended.</p>
<p>If you attempt to upload a File with the same name as a document or  image already stored within your repository, you will be given the option of  overwriting the existing file, renaming the new file or cancelling the file upload  process.</p>
