{include file="header.tpl"}

{include file="columnfullstart.tpl"}
			<h2>{str tag="adminusers" section="admin"}</h2>

			<p>{str tag="adminuserspagedescription" section="admin"}</p>

			{$adminusersform}

{include file="columnfullend.tpl"}

{include file="footer.tpl"}
