{include file="header.tpl"}

{include file="columnfullstart.tpl"}
			<h2>{str tag="staffusers" section="admin"}</h2>

			<p>{str tag="staffuserspagedescription" section="admin"}</p>

			{$staffusersform}

{include file="columnfullend.tpl"}

{include file="footer.tpl"}
