<h3>Password Reminder</h3>
<p> If you have  forgotten your password you can request a password reset. After submitting your <em>primary</em> email address in the prompt box, you will be emailed an  activation code link. Following this  link will confirm your reset request and allow you to change your password.</p>
<p>If you  receive a password change email that you have not requested, please ignore the  email and advise the Site Administrator immediately</p>
