<h3>Registration</h3>
<p>  If an ePortfolio  account will not be created on your behalf by an institution associated with  this site, you will need to complete the Registration process. </p>
<p>Once you  have submitted the registration form an email will immediately be sent to your  email address. This email will contain a  link which once followed will confirm your account and log you into the system. You will then be provided an opportunity to  upload a profile picture and prompted to complete any profile fields that the  Site Administrator has set as mandatory.  The account activation link is valid for 24 hours only. After this time you will need to submit your registration  form again. </p>
<p>If you do not receive an email confirmation  message after registration, please ensure the registration message has not been  caught by your email junk filter. Please  contact the Site Administrator if you have any problems registering. </p>
<p>Once  registered on the site you will need to enter your username, password and  institution to log in and access your portfolio.</p>
<p><em>Note</em> - This site  requires a minimum web browser of Internet Explorer 6.0 or higher, Firefox 1.5  or higher, Safari 2 or higher, Opera 9 or higher or any other browser  compatible with these standards. You can  determine the version of your browser software by selecting About via the Help  menu.</p><p>
You must also have cookies enabled on your  browser in order to use this site.
</p>
