<h3>Edit View Acces</h3>
<p>In Edit View Acces you can assign View access to any of your available  Communities and Individuals for a set period of time.</p>
<p>You can search for specific users and Communities or choose a user  from the list given. Click Add against  the selected user and enter a start and finish date for their access in the box  to the right. If you do not enter in a  date here, access for this user will default to the start and end dates of the  View itself.</p>
<p>Depending on the site settings you may also be able to give View access to  all logged in users, the general public or those people listed in your Friends  area.</p>
