/**
 * CSS rules that only apply to the JS version of the views interface
 */

.blocktype, .blocktype-clone {
    cursor: move;
}

.blockinstance-header {
    cursor: move;
}

/* This file is loaded by IE6 as it does support javascript - although the
   interface itself is disabled in IE. So we unset the cursor styles here if in
   IE6 */
* html .blocktype, * html .blocktype-clone, * html .blockinstance-header {
    cursor: default;
}

/* This will be hidden until loading is finished */
#bottom-pane {
    display: none;
}
