<h3>My Profile</h3>
<p>Each of the  fields within your Profile are Artefacts and may be added to a View. </p>
<p>You may  find that some fields within your Profile area cannot be edited. For user identification these fields have  been locked by the Site Administrator.</p>
<p>Please  consider your personal security before releasing contact information on a  publicly available View.</p>
