<h3>Profile Icons</h3>
<p>
    The Profile  Icons area allows you to upload images to use within your
    Profile and Views.  Your Icons may be a picture of you or an avatar image
    of your choice.
</p>
<p>
    You may  have up to 5 icons loaded to your Profiles Icons area at once.
    Images you upload need to be between at least 16x16 pixels and will
    be displayed resized so that the longest edge is 100 pixels long.
</p>
<p>
    Your  default image will appear on your Profile page.
</p>
