{include file="header.tpl"}
{include file="sidebar.tpl"}

<div id="column-left">
	<div class="content">
		<div class="box-cnrs"><span class="cnr-tl"><span class="cnr-tr"><span class="cnr-bl"><span class="cnr-br">
			<div class="maincontent">
    		<h2>{str tag="editgroup"}</h2>
    		{$editgroup}
			</div>
		</span></span></span></span></div>	
	</div>
</div>

{include file="footer.tpl"}

