{include file="header.tpl"}
{include file="sidebar.tpl"}

{include file="columnleftstart.tpl"}
			<h2>{str tag="groupsimin"}</h2>
                            <table id="grouplist" class="hidden tablerenderer">
	                        <thead>
                                    <tr>
 	                                <th>{str tag='name'}</th>
 	                                <th>{str tag='delete'}</th>
                                    <tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
{include file="columnleftend.tpl"}

{include file="footer.tpl"}
