<h3>Notifications</h3>
<p>This is a list of activity or events taking place  within the system that apply to you. </p>
<p>You can specify how you receive notifications of each kind of activity  via your Activity Preferences area. Once  you have read a message you can mark it as read to remove it from your messages  notification. </p>
<p>Read notifications will automatically expire and be removed from your  Notifications after 60 days.</p>
