<h3>My Account</h3>
<p>While your account  is the record of your registration on the site, the My Account area is where  you configure how you use the site and how the system will contact you with  important information and notifications.</p>
<p>Your  account will automatically expire after a period of time as specified by your  Site Administrator. You will be sent a  system generated message warning you of your upcoming account expiry. This message will also contain information regarding  saving your portfolio.</p>
<p>In addition,  a Site Administrator may suspend your account while any alleged breach of the  Terms and Conditions listed on the site is being investigated. You will be notified of an account suspension  when you attempt to log on. Please  contact the Site Administrator if you have any questions.</p>
