<h3>My Watchlist</h3>
<p>Your Watchlist displays a list of those Artefacts, Views and Communities  that you have access to, and have elected to monitor for changes and updates by  using the &#8216;Add to Watchlist&#8217; option when these items are on screen.</p>
<p>You can Stop Monitoring an item at any stage. In addition to all users, you can search on a  specific user&#8217;s Artefacts, Views and/or Communities.</p>
<p>Items highlighted  with an asterisk &#8216; * &#8217; indicate that the child or any items belonging  to that View or Artefact are also being monitored. For example if you are monitoring a View, the  children would be any Artefacts within that View. If you are monitoring an Artefact, the  children would be any Artefact that is linked to that first top level Artefact (such  as a Blog and a Blog post or a Folder and a File).</p>
