<h3>Admin Files</h3>
<p>Admin Files area works in nearly the same way as the main site’s  My Files area.  Files uploaded to this area are available to any logged in user and where placed in the ‘public’ folder, are available to any user with the correct URL.The Admin Files area works in nearly the same way as the main site’s  My Files area.  Files uploaded to this area are available to any logged in user and where placed in the ‘public’ folder, are available to any user with the correct URL.</p>
