<h3>Institutions</h3>
<p>The Institutions page allows Site Admin to edit existing, and setup new Institutions associated with your site.  Each Institution created within your Mahara installation has configurable settings allowing each organisation to customise a variety of system requirements and user settings.</p>
<p>User accounts may be associated with a particular Institution or be listed against the default of No Institution and must be selected during login.</p>
<p>Each institution will have a selected authentication mode with the default of internal where no additional authentication plugins are available.  Each institution may also choose whether new users can register on the site under their Intuitions’ name.</p>
