<h3>Site menu</h3>
<p>Within your Mahara installation it is possible to create a Main Menu for both public and logged in users.  The files and links that populate these menus are created in the Site Menu area.</p>
