<h3>Suspended Users</h3>
<p>When a user has been suspended via the Admin User Search area, their account is stored in the Suspended User area for review or subsequent action.  This action may be reactivation, export of their profile information (via zip file) or deletion from the system.   Use the tick box column to select the corresponding users then use the relevant action button and follow the onscreen prompts.</p>
