<h3>Configure View Templates</h3>
<p>The Configure View Templates page allows Admin to see which View templates are currently installed with the option to reinstall modified or damaged template files.</p>
