<div id="column-full">
    <div class="content">
        <div class="box-cnrs"><div class="cnr-tl"><div class="cnr-tr"><div class="cnr-bl"><div class="cnr-br">
            <div class="maincontent">
                {if $PAGEHELPNAME} <div id="{$PAGEHELPNAME}_container" class="pagehelpicon">{$PAGEHELPICON}</div>{/if}
