
			</div>
			<div id="footer">
				<div class="footerright"><img src="{theme_path location='images/footer_navbg_right.gif'}" border="0" alt=""></div>
				<a href="{$WWWROOT}terms.php">{str tag=termsandconditions}</a> | 
				<a href="{$WWWROOT}privacy.php">{str tag=privacystatement}</a> | 
				<a href="{$WWWROOT}about.php">{str tag=about}</a> | 
				<a href="{$WWWROOT}contact.php">{str tag=contactus}</a>
			</div>
		</div>
		<div id="bottom-corners">
		<div class="footer-left"><img src="{theme_path location='images/footer_corner_botleft.gif'}" border="0" alt=""></div><div class="footer-right"><img src="{theme_path location='images/footer_corner_botright.gif'}" border="0" alt=""></div>
		</div>
        {mahara_version}
        {mahara_performance_info}
	</div>
    </body>
</html>
