
            </div>
            </div>
            </div>
            <div id="footer" class="micro_footer">
                <div class="footerright"><img src="{theme_path location='images/footer_navbg_right.gif'}" border="0" alt=""></div>
            </div>
        </div>
        {mahara_performance_info}
    </div>
    </body>
</html>
