			</div>
			<div id="footer">
                <div class="footerright"><img src="{theme_path location='images/footer_navbg_right.gif'}" border="0" alt=""></div>
                    <a href="http://mahara.org/">Mahara</a> {if $releaseargs}{str section=admin tag=release args=$releaseargs}{/if}, &copy; 2006 onwards, <a href="http://catalyst.net.nz/">Catalyst IT Ltd</a>
            </div>
            <div class="housekeeping"></div>
	</div>
		<div id="bottom-corners">
		<span class="footer-left"><img src="{theme_path location='images/footer_corner_botleft.gif'}" border="0" alt=""></span><span class="footer-right"><img src="{theme_path location='images/footer_corner_botright.gif'}" border="0" alt=""></span>
		</div>
    </body>
</html>
