<h3>Admin file</h3>
<p>You can use a file stored in the Admin File area as an item on a Main Menu.   The display name for the file should be entered into the Name field and the desired file selected from the Linked to dropdown list.</p>
