<h3>External link</h3>
<p>You can provide an external or internal link as an item on a Main Menu.  The display name for the URL should be entered into the Name field and the URL address in the Linked to field.</p>
