<h3>Main Menu</h3>
<p>The Main  Menu provides you with important resources and information. There are two menus in use within the system  &#8211; publicly available resources for non-logged  in users and resources for logged in users.  Items within these two menus will likely differ.</p>
