<h3>Search My Portfolio box</h3>
<p> Search My Portfolio allows you to run a keyword search on Tags, Descriptions, Names, Titles or text you have used within your Artefacts and Views.  A search result will provide you with an editing link to all relevant Artefacts and Views.</p>
<p>You can enter a specific word search or you can search for all Artefacts and Views within your portfolio by submitting a search with an empty Query field.</p>
<p> By making use of the Tag fields and Search My Portfolio you are able to create a filing system or index for your portfolio.</p>
