<h3>Certifications, Accreditations and Awards</h3>
<p>Use the <b>Add</b> button to insert an entry into your Certifications, Accreditations and Awards section.  Your Certifications etc. entries will display reverse chronological order.</p>
<p><b>Save</b><br />
Ensure you <b>Save</b> your entry before exiting the Certifications, Accreditations and Awards section to retain this information.</p>
<p><b>Cancel</b><br />
If you would like to discard your new entry use <b>Cancel</b> to close the Add Certifications, Accreditations and Awards form.  Please note that if you Cancel, your entry <i>will not be saved</i>.</p>
<p>After saving your new Certifications, Accreditations and Awards entry you will see it displayed in tabular format within your Résumé area.  You can make adjustments to your entry by clicking on <b>Edit</b>.  Once you have made the required changes and have <b>Saved</b>, use <b>Back to My Résumé</b> to return to the main Résumé screen.</p>
<p>You can remove any of your Certifications, Accreditations and Awards entries by clicking the corresponding <b>Delete</b> option.</p> 
<p> If you have provided a Description, your Certifications, Accreditations and Awards entry will display as a link, which when clicked will expand /collapse to show/hide your Description information.</p>
