<h3>Professional Memberships</h3>
<p>Use the <b>Add</b> button to insert an entry into your Professional Memberships section.  Your Professional Memberships entries will display reverse chronological order</p>
<p><b>Save</b><br />
Ensure you <b>Save</b> your entry before exiting the Professional Memberships section to retain this information.</p>
<p><b>Cancel</b><br />
If you would like to discard your new entry use <b>Cancel</b> to close the Add Professional Memberships form.  Please note that if you Cancel, your entry <i>will not be saved</i>.</p>
<p> After saving your new Professional Membership entry you will see it displayed in tabular format within your Résumé area.  You can make adjustments to your entry by clicking on Edit.  Once you have made the required changes and have Saved, use Back to My Résumé to return to the main Résumé screen.</p>
<p>You can remove any of your Professional Membership entries by clicking the corresponding Delete option.</p>
<p> If you have provided a Description, your Professional Memberships entry will display as a link, which when clicked will expand /collapse to show/hide your Description information.</p>
