    <tr title="{$artefact->hovertitle|escape}">
        <td style="width: 20px;">
            {$formcontrols}
        <td>
        <th><label for="{$elementname}_{$artefact->id}">{$artefact->title|escape}</label></th>
    </tr>
