<h3>Comment Notification</h3>
<p>You can choose whether you receive notification of new Comments  submitted on your Blog. How you receive Blog  Comment Notification will be determined by your setting for Feedback messages  within your Account and Activity Preferences.</p>
