<h3>My Files</h3>
<p>Your Files  area is a repository for Folders and Files to use within your portfolio. Both Folders and Files are considered  Artefacts and both may be added to a View.</p>
<p>You may  create any number of Folders and Sub-Folders.  To view which Sub-Folders and Files sit within a Folder, click on the Folder  name . Click on a File name to open the  document or image. Use the Home link to  return to the top level folder directory.</p>
<p>If you  upload a File that is of an identified image type, it will be flagged as such  and additional display options will apply to it within a View.</p>
<p>The number  of Files you may upload into your Files area is dependant on your set file storage  limit which is displayed in the Quota box on the right of the screen. </p>
<p>For  security reasons your Site Administrator may restrict some file (MIME) types  from being uploaded to the system. </p>
<p>You will  find that some Folders are automatically created by the system such as &#8216;blogfiles&#8217;. This Folder includes Files that are uploaded  via a Blog posting. Deleting a File here  will remove it from your Blog posting.</p>
