{include file="header.tpl"}

<div id="column-right">
{include file="sidebar.tpl"}
</div>
{include file="columnleftstart.tpl"}
<h3>{str tag='myskills' section='artefact.resume'}</h3>
{$skillform}


{include file="columnleftend.tpl"}


{include file="footer.tpl"}
