<h3>My Goals</h3>
<p>Your Goals area is divided into Personal, Academic and Career sections.  Using the HTML editor within each box, you can provide information relating to your Goals so that you may add them to a View.</p>
<p> Goals or Objectives are often provided within Résumés so that employers can understand how a particular role or organisation would suit your ambitions.</p>
<p> You can also use the Academic Goals section to set desired achievements within your course or programme of study.</p>
<p> Once you have entered information into the Personal, Academic and/or Career Goals box(s), ensure you click <b>Save</b> so that your entries are retained.</p>
