<h3>My Résumé</h3>
<p>The Résumé area allows you to build an online résumé or CV by adding as much or as little information as you wish, into the available fields. Your Résumé area is divided into two sections – an area for entering <i>general information</i> and an area for entering in details of your <i>experience and accomplishments</i>.</p>
<p>To open/collapse the fields within the general information section, click on the sub-section name (e.g. Cover Letter, Interests etc).</p>
<p> Remember to <b>Save</b> each entry you make within your Résumé sub-sections.</p>
