<h3>My Skills</h3>
<p>Your Skills area is divided into Personal, Academic and Work sections. Using the HTML editor within each box, you can provide information relating to your Skills so that you may add them to a View.  Employers are particularly interested in what Skills you can bring to a role and organisation.</p>
<p> You can also use the Skills section to display what attributes would bring to a collaborative community or working group.</p>
<p>Once you have entered information into the Personal, Academic and/or Work Skills box(s), ensure you click <b>Save</b> so that your entries are retained.</p>

