<h3>Friends Control</h3>
<p>Use Friends Control to choose whether other users on the site may add  you to their Friends list. If you are  added to someone&#8217;s Friends list they are automatically added to your list. When you remove someone from your Friends  list you are also removed from their list. </p>
<h4>Nobody may add me as a  friend</h4>
<p>No user on the site may add you to their Friends list.</p>
<h4>New friends require my authorisation</h4>
<p>People must request your authorisation in order to add you to their  Friends list. Once you have approved a  request they will be added as a Friend.</p>
<h4>New friends are  automatically authorised</h4>
<p>Anyone may add you to their Friends list at any time.</p>
