<h3>Messages from other  users</h3>
<p>Use this setting to choose which users of the site you are happy to  receive messages from.</p>
<p>Depending on your settings within your Activity Preferences you can receive  these messages via an individual email, a daily email digest or via an activity  notification.</p>
<p>Note that these contact restrictions do not apply to Site Administrators  or Staff members.</p>
