<h3>Change Password</h3>
<p>To change your login password, enter your Current Password then what you  would like as your new password in the New and Confirm Password boxes.</p>
<p>Your password must be at least six characters long and contain at least  one digit and two letters. Your password  may not be the same as your username and is <em>case  sensitive</em>.</p>
