<h3>Access End Date/Time</h3>
<p>You can chose the date and time you want your View to stop being  accessible to those Communities and Individuals you select in View  Creation Step 4.</p>
<p>You can either enter in the date and time using the below format or use  the Calendar to select your desired Access End Date.</p>
<h4>Date and Time Format</h4>
<p>
  Enter in the Access End Date using the format:<br>
  YYYY/MM/DD TT:TT<br>
  (Year/Month/Day Hour: Minutes)</p>
<p>For example: 2008/12/20 08:30</p>
<h4>Calendar </h4>
<p>
  Click the &lt;&lt; &gt;&gt;  buttons to move through the year list or click and hold either of the  &lt;&lt; &gt;&gt; buttons to open a drop  down menu of available years.</p>
<p>Click the &lt; &gt; buttons to  cycle through the months or click and hold either of the buttons to open a drop  down menu of all months</p>
<p>Click on the time fields to move up through the hours and minutes or  Shift-click to move down through the hours and minutes. Click and drag your mouse to move up or down through  the time quickly.</p>
<p>If you do not choose an End Date then the system will record no Access  End Date.</p>
