<h3>Membership Mode</h3>
<p>When you create a new Community you can choose from a number of  membership options which determine how other users may join your Community.</p>
<h4>Anyone Can Join</h4>
<p>
  Setting your Community membership to Anyone Can Join mode will allow any user  of the site to become a member simply by visiting your Community page and  clicking the Join button.</p>
<h4>Request to Join</h4>
<p>
  Setting your Community membership mode to Request to Join means that any user  can request to join your Community, however as owner you can choose to Accept  or Decline this request. The requesting  member will be automatically notified of your decision.</p>
<h4>Invite Only</h4>
<p>
  Setting your Community membership mode to Invite Only means that only users that  you have sent an invite to may join your Community.
<h4>Controlled Membership </h4>
<p>
  Controlled Membership is only available to Site Administrators and  allows administrators (and any Staff associated with the Community) to add and  remove people from a Community directly.</p>
<p>This is designed to be used for a course-based Community where the  membership is defined by an external system (such as an institution&#8217;s enrolment  system) and the Staff user wishes replicate that membership in the Community.</p>
