<h3>Warning time for inactivity/expiry</h3>
<p>An Institution may set the time before a user’s account is due to expire or be flagged as inactive, that they receive an alert message.   This time may be specified in Days, Weeks, Months, Years or No End Date may be selected where users should not receive a warning before their account expires or they are flagged as having an inactive account.</p>
