<h3>Default account inactivity time</h3>
<p>An Institution may set the period of inactivity required on a user’s account before it is flagged.  This time may be specified in Days, Weeks, Months, Years or No End Date may be selected where user accounts should not be flagged as inactive.  An account is considered inactive when the user has not logged into the site.</p>
