<h3>Username</h3>
<p>
    Your username may include alphanumeric characters, full stops and @  symbols. Your username must be between 3 and 30 characters long. Usernames are <em>not case sensitive</em>.
</p>
