<h3>Password</h3>
<p> Your password must be at least six characters long and contain at least  one digit and two letters. Your password  may not be the same as your username and is <em>case  sensitive</em>. For security reasons, please  do not disclose your password to any user other than a Site Administrator.</p>
