<h3>Path to clam</h3>
<p>The path to clam fields should give the filesystem path to clamscan or clamdscan for virus checking.  It is assumed that a failure of clam to run will mean that a file should be treated as a virus, and a quarantine directory will be automatically set up by your Mahara installation.</p>
