<table>
    <tr>
        <th>{str tag='address' section='artefact.internal'}</th>
        <td>{$address}</td>
    </tr>
    <tr>
        <th>{str tag='town' section='artefact.internal'}</th>
        <td>{$town}</td>
    </tr>
    <tr>
        <th>{str tag='city' section='artefact.internal'}</th>
        <td>{$city}</td>
    </tr>
    <tr>
        <th>{str tag='country' section='artefact.internal'}</th>
        <td>{$country}</td>
    </tr>
    <tr>
        <th>{str tag='faxnumber' section='artefact.internal'}</th>
        <td>{$faxnumber}</td>
    </tr>
    <tr>
        <th>{str tag='businessnumber' section='artefact.internal'}</th>
        <td>{$businessnumber}</td>
    </tr>
    <tr>
        <th>{str tag='homenumber' section='artefact.internal'}</th>
        <td>{$homenumber}</td>
    </tr>
    <tr>
        <th>{str tag='mobilenumber' section='artefact.internal'}</th>
        <td>{$mobilenumber}</td>
    </tr>
    <tr>
        <td colspan="2"> <button onClick="return editprofilebutton();">{str tag='editprofile' section='artefact.internal'}</button></td>
    </tr>
</table>
