<h3>View Blog</h3>
<p>When viewing a Blog you will see your postings with Drafts listed first followed  by Published posts, both in descending date order. 10 postings are listed per page and a list of  any files that are attached to a post are displayed. </p>
<p>You can Publish Draft postings from this screen as well as Edit or  Delete both Draft and Published postings.  Deleting a Blog post with an attached file will not remove the file from  your Files area.</p>
