<h3>End Date</h3>
<p>The End Date is the day you stopped working in this position.  You can either enter in the required date using the format YYYY/MM/DD (Year/Month/Day) or use the Calendar to select your End Date.</p>
<p>If you do not enter an End Date it will be assumed you are still working in this position and Current will be displayed in the End Date column.If you do not enter an End Date it will be assumed you are still working in this position and Current will be displayed in the End Date column.</p>
