<h3>Start Date</h3>
<p>This is the date you began working in this position. You can either enter in the required date using the format YYYY/MM/DD (Year/Month/Day) or use the Calendar to select your Start Date</p>
