<h3>Qualification Name</h3>
<p>The Qualification Name is the title of the award you received or are studying towards, at the listed Institute. For example, Diploma in Business, Bachelor’s Degree in Science etc.</p>
