<h3>Contribution</h3>
<p>The Contribution area allows to you specify your role or association with the Book or Publication. For example, Contributing Author, Instructional Designer, Illustrator etc.</p>
