<h3>Description</h3>
<p>The Description for the Book or Publication is optional but allows you include important information relating to the Book or Publication or your contribution such as the journal in which your Publication was released, or the web address of your e-book.</p>
