<h3>End Date</h3>
<p>The End Date is the day you stopped studying at this Institute.  You can either enter in the required date using the format YYYY/MM/DD (Year/Month/Day) or use the Calendar to select your End Date.</p>
<p> If you do not enter an End Date it will be assumed you are still studying with the Institute and Current will be displayed in the End Date column.</p>
