<h3>Remove</h3>
<p>You may Remove any files currently attached to a Blog posting at any  time. Note that if you delete a file  from a saved Blog posting the file <em>will  not</em> be removed from your Files area.</p>
