/**
 * Stylesheet for views for the default theme
 */

#views-loading {
    text-align: center;
    margin: 1em;
    font-size: 100%;
    color: #547C22;
}

#view h3 {
    margin-top: .25em;
}
#view p.view-description {
    margin: .5em .25em;
}
div.editview {
    margin-top: .75em;
}
/** When viewing an artefact */
#view .filedata-icon {
    margin: 0 .5em;
}
#view table.filedata {
    margin-top: 1em;
    width: 95%;
    border: none;
}
#view table.filedata th {
    width: 8em;
    padding: 3px 0 0 0;
}

#top-pane {
    background: #acc067 url(../images/toppane_corner_topright.gif) no-repeat right top;
}
#category-list {
    background: #acc067 url(../images/toppane_corner_topleft.gif) no-repeat left top;
}
#category-list li {
    background-color: #bacc7b;
    margin-right: 5px;
    line-height: 25px;
    padding: 5px 10px;
}
#category-list li.current {
    font-weight: bold;
    background-color: #eef4da;
}
#blocktype-list {
    background-color: #eef4da;
    padding: 5px 5px 10px 5px;
    margin-left: 5px;
}
#blocktype-list .blocktype-radio {
    border: none;
    /* ie fix */
    cursor: default;
}

/* don't ask... fixing some wierd firefox problem */
#blocktype-list * {
    margin: 0;
}

#blocktype-list li h3 {
    font-size: .9em;
}
#blocktype-list li p {
    font-size: .8em;
}
#noblocks {
    font-size: larger;
    color: #547C22;
    margin-top: 40px;
    text-align: center;
}

#layout-link {
    background: url(../images/layout-link.gif) no-repeat left;
    padding: 5px 0 5px 20px;
    margin-left: 10px;
    font-size: .9em;
}
#layout-link.disabled {
    color: #aaa;
}

#bottom-pane {
    margin-top: 10px;
    background: #eef4da url(../images/bottompane_corner_botright.gif) no-repeat right bottom;
}
#column-container {
    background: url(../images/bottompane_corner_botleft.gif) no-repeat left bottom;
}

.add-column-center {
    text-align: right;
}
.column-header input {
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-weight: normal;
    height: 16px;
    width: 42px;
    color: #FFF;
    /* konqueror/safari fix */
    border: none;
    background: none;
    padding: 0;
}
.remove-column input.removecolumn {
    width: 50px;
}
#column-container .column-header input[disabled="disabled"] {
    color: #ccc;
    cursor: default;
}

.blockinstance {
    margin-top: 1em;
    background-color: #FFF;
    padding: 5px;
    font-size: 12px;
}
.maincontent .blockinstance table {
    font-size: 12px;
}
.blockinstance-header h4 {
    margin: 0;
    padding: 3px 5px;
    border-bottom: 1px solid #acc067;
    background-color: #fff;
}
.blockinstance-header h4 a {
    text-decoration: none;
    color: inherit;
}

.blockinstance-controls input {
    height: 16px;
    width: 16px;
    color: #acc067;
    border: none;
    background: none;
    padding: 0;
}

.blockinstance-content {
    padding: 5px;
}
.blockinstance-content .maharatable td {
    padding: 0;
}
.blockinstance-content p {
    margin: .25em 0 .5em;
}
.blockinstance-content h1,
.blockinstance-content h2,
.blockinstance-content h3,
.blockinstance-content h4,
.blockinstance-content h5,
.blockinstance-content h6 {
    margin: .25em 0 0;
}

.column-content .add-button {
    margin: 5px 0;
}
.add-button .newblockhere {
    background: url(../images/btn_addblock.gif) repeat-x;
    font-weight: normal;
    height: 18px;
    padding: 1px 5px 2px 5px;
    color: #FFF;
    width: 100%;
    margin: 0;
}
/* this rule compresses and centres the buttons better in konqueror and safari */
body:last-child:not(:root:root) .newblockhere {
    color: #547C22;
}

#block-placeholder {
    border: 2px dashed #94BC62;
    margin-top: 1em;
}

.ac-pagination {
    text-align: center;
    white-space: nowrap;
}

.ac-pagination a, .ac-pagination .disabled {
    padding: 1px 3px;
    margin: 0 1px;
}

/* styling the tabs for the artefact chooser */
.maincontent ul.artefactchooser-tabs li a {
    background-color: #BACC7B;
    padding: 3px 1em;
    text-decoration: none;
}
.maincontent ul.artefactchooser-tabs li.current a {
    background-color: #EEF4DA;
}
.maincontent div.artefactchooser-splitter {
    border-top: 1px solid #e0e0e0;
    background-color: #EEF4DA;
    margin-top: 3px;
    padding: .25em 0 .25em .5em;
}
.blockinstance-content p.noartefacts {
    background-color: #EEF4DA;
    color: #808080;
    text-align: center;
    margin-top: 0;
    padding: .5em;
}
.maincontent table.artefactchooser-data {
    border: none;
    margin-top: 0;
    background-color: #EEF4DA;
    padding: .5em .5em 0;
}
